private_keys.py
input_data/dict_ghg_impacts.txt
input_data/dict_ghg_impacts_future.txt
input_data/ghg_factors.json
input_data/ghg_factors_future.json
__pycache__/
results
processed_data
figs
figures_sensitivity
export
archive
data
outputs_h2/
main_euler.py
optimize_ammonia.slurm
input_data/lcoe_Liu_et_al_2025.xlsx
input_data/dict_ghg_impacts.txt
input_data/dict_ghg_impacts_future.txt
input_data/ghg_factors.json
input_data/ghg_factors_future.json
.vscode
.ipynb_checkpoints
unlinked.log
~$*
